.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip
face_generation/data/
cifar-10-batches-py/
cifar-10-python.tar.gz

.ipynb_checkpoints/

transfer-learning/codes
transfer-learning/labels

*.pyc
*.p
*.pkl 

*/.floyd*
